/* style.css */

/* Container styles */
.container {
    margin-top: 100px;
    width: 100%;
  }
  
  /* Button styles */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-Task {
    background-color: #4caf50;
    border: none;
    

    
  }
  
  .btn-edit {
    background-color: #2196f3;
    border: none;
    margin-right: 20px;
    
  }
  
  .btn-delete {
    padding-right: 40px;
    background-color: #f44336;
    border: none;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  /* Table styles */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: center;
  }
  
  .styled-table thead th {
    background-color: #333;
    color: #fff;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .container {
      margin-top: 50px;
    }
  
    .styled-table th,
    .styled-table td {
      padding: 10px 5px;
    }
  
    .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  